$orange-main: #cd6326;
$orange-light: #e39128;
$orange-dark: #8f5613;
$font-light: #f7f7f7;
$font-grey: #666666;
$font-dark: #333333;
$font-roboto: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
}

.header__content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 19px;
}

.header__logo {
  display: flex;
}

.logo__icon {
  width: 70px;
  height: 60px;
  margin-right: 15px;
}

.logo__title {
  font-family: $font-roboto;
  color: $font-light;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation__item :not(last-child) {
  margin-right: 61px;
}

.navigation__link {
  font-size: 23px;
  line-height: 60px;
  color: $font-light;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navigation__link:hover {
  color: $orange-light;
}

.navigation__link:active {
  color: $orange-dark;
}

.navigation__search-icon {
  fill: $font-light;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.navigation__search-icon:hover {
  fill: $orange-light;
}

.navigation__sing-in {
  font-size: 23px;
  color: $font-light;
  background-color: transparent;
  border: 2px $orange-main solid;
  border-radius: 5px;
  padding: 8px 23px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navigation__sing-in:hover {
  background-color: $orange-light;
  border-color: $orange-light;
}

.navigation__sing-in:active {
  background-color: $orange-dark;
  border-color: $orange-dark;
}
