* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 520px) {
  .container {
    padding: 0 10px;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  padding: 16px 42px;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: #cd6326;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.button:hover {
  background-color: #e39128;
}
.button:active {
  background-color: #8f5613;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
}
@media (max-width: 750px) {
  .header__content {
    justify-content: center;
  }
}
@media (max-width: 410px) {
  .header__content {
    padding-top: 0;
  }
}
.header__logo {
  display: flex;
}
@media (max-width: 750px) {
  .header__logo {
    display: none;
  }
}

.logo__icon {
  width: 70px;
  height: 60px;
  margin-right: 15px;
}
.logo__title {
  font-size: 32px;
  line-height: 60px;
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
  text-transform: uppercase;
}

.navigation {
  transition: transform 0.5s ease-in;
}
@media (max-width: 410px) {
  .navigation {
    position: absolute;
    width: 100%;
    height: 60vh;
    background-color: rgba(51, 51, 51, 0.8);
    transform: translateY(-100%);
  }
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
@media (max-width: 410px) {
  .navigation__list {
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;
  }
}
.navigation__list :not(:last-child) {
  margin-right: 61px;
}
@media (max-width: 520px) {
  .navigation__list :not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 410px) {
  .navigation__list :not(:last-child) {
    margin-right: 0;
  }
}
.navigation__link {
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  text-decoration: none;
  transition: all 0.2s ease;
}
.navigation__link:hover {
  color: #e39128;
}
.navigation__link:active {
  color: #8f5613;
}
.navigation__search-icon {
  fill: #f7f7f7;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.navigation__sing-in {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
  background-color: transparent;
  border: 2px #cd6326 solid;
  border-radius: 5px;
  padding: 8px 23px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.navigation__sing-in:hover {
  background-color: #e39128;
  border-color: #e39128;
}
.navigation__sing-in:active {
  background-color: #8f5613;
  border-color: #8f5613;
}
.navigation__burger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: none;
  width: 35px;
  height: 35px;
}
@media (max-width: 410px) {
  .navigation__burger {
    display: block;
  }
}

.burger-line-1,
.burger-line-2,
.burger-line-3 {
  width: 100%;
  height: 3px;
  background-color: #f7f7f7;
}

.burger-line-2 {
  margin: 7px 0;
}

.survival {
  background-color: #02160b;
}
.survival__container {
  background-image: url("assets/survival-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.survival__content {
  padding-top: 250px;
}
@media (max-width: 520px) {
  .survival__content {
    padding-top: 150px;
    text-align: center;
  }
}
.survival__title {
  margin-bottom: 51px;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #cd6326;
}
.survival__description {
  max-width: 274px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
@media (max-width: 520px) {
  .survival__description {
    max-width: none;
  }
}

.articles {
  background-color: #cccccc;
}
.articles__content {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 780px) {
  .articles__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.articles__title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}
@media (max-width: 780px) {
  .articles__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 341px) {
  .articles__title {
    font-size: 40px;
  }
}
.articles__description {
  margin-bottom: 120px;
  font-size: 24px;
  text-align: center;
  color: #666666;
}
@media (max-width: 780px) {
  .articles__description {
    margin-bottom: 20px;
  }
}
@media (max-width: 341px) {
  .articles__description {
    font-size: 20px;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 745px) {
  .slider {
    padding: 0 30px;
  }
}
@media (max-width: 465px) {
  .slider {
    position: relative;
    justify-content: center;
    padding: 0;
  }
}
.slider__button {
  width: 30px;
  height: 70px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.slider__button_prev {
  background-image: url("assets/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 465px) {
  .slider__button_prev {
    position: absolute;
    bottom: 15px;
    right: 60%;
  }
}
.slider__button_prev:hover {
  transform: translateX(-10px);
}
.slider__button_next {
  background-image: url("assets/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 465px) {
  .slider__button_next {
    position: absolute;
    bottom: 15px;
    left: 60%;
  }
}
.slider__button_next:hover {
  transform: translateX(10px);
}
.slider__item {
  position: relative;
  width: 300px;
  height: 360px;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 1050px) {
  .slider__item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 745px) {
  .slider__item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 465px) {
  .slider__item {
    margin-bottom: 80px;
  }
}
.slider__item:hover {
  transform: scale(1.1);
}
.slider__item__title {
  position: absolute;
  bottom: 77px;
  left: 0;
  width: 100%;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  color: #f7f7f7;
}
.slider__item__description {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  color: #f7f7f7;
}

.notification {
  background-color: #cccccc;
}
.notification .notification__content {
  padding-top: 118px;
  padding-bottom: 239px;
}
@media (max-width: 730px) {
  .notification .notification__content {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.notification__title {
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 27px;
  text-align: center;
  color: #333333;
}
@media (max-width: 730px) {
  .notification__title {
    margin-bottom: 20px;
  }
}
.notification .form {
  display: flex;
  justify-content: center;
}
@media (max-width: 465px) {
  .notification .form {
    flex-direction: column;
    align-items: center;
  }
}
.notification .form__input {
  width: 450px;
  height: 60px;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 23px;
  border: 1px solid #666666;
  border-right: none;
  background-color: #cccccc;
}
@media (max-width: 465px) {
  .notification .form__input {
    width: 300px;
    margin-bottom: 10px;
    border-right: 1px solid #666666;
  }
}
.notification .form__input:focus {
  outline-color: #8f5613;
}
.notification .form__submit {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media (max-width: 465px) {
  .notification .form__submit {
    width: 300px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}