$orange-main: #cd6326;
$orange-light: #e39128;
$orange-dark: #8f5613;
$font-light: #f7f7f7;
$font-grey: #666666;
$font-dark: #333333;
$font-roboto: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
  }

  &__logo {
    display: flex;
  }
}

.logo {
  &__icon {
    width: 70px;
    height: 60px;
    margin-right: 15px;
  }

  &__title {
    font-family: $font-roboto;
    color: $font-light;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
  }
}

.navigation {
  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  &__list :not(:last-child) {
    margin-right: 61px;
  }
  &__link {
    font-size: 23px;
    line-height: 60px;
    color: $font-light;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  &__link:hover {
    color: $orange-light;
  }
  &__link:active {
    color: $orange-dark;
  }
  &__search-icon {
    fill: $font-light;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  &__sing-in {
    font-size: 23px;
    color: $font-light;
    background-color: transparent;
    border: 2px $orange-main solid;
    border-radius: 5px;
    padding: 8px 23px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  &__sing-in:hover {
    background-color: $orange-light;
    border-color: $orange-light;
  }

  &__sing-in:active {
    background-color: $orange-dark;
    border-color: $orange-dark;
  }
}

.survival {
  background-color: #02160b;

  .container {
    background-image: url('assets/survival-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }

  &__content {
    padding-top: 200px;
  }

  &__title {
    font-size: 48px;
    letter-spacing: 2px;
    color: $orange-main;
    margin-bottom: 51px;
    font-weight: normal;
  }

  &__description {
    font-size: 18px;
    line-height: 27px;
    color: $font-light;
    max-width: 274px;
    margin-bottom: 50px;
  }

  &__button {
    background-color: $orange-main;
    color: $font-light;
    font-family: $font-roboto;
    font-size: 23px;
    padding: 16px 42px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $orange-light;
  }

  &__button:active {
    background-color: $orange-dark;
  }
}
